<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-3">

					<div class="ibox ibox-body">
						<div class="ibox-title">
							<h5>数据字典类型</h5>
						</div>
						<div class="ibox-title">
							<h5>过滤：</h5>
							<input id="searchDName" type="text" class="form-control" placeholder="请输入关键字">
						</div>
						<div class="ibox-title">
							<button type="button" class="btn  btn-success" onclick="addDict()" id="addDict">
								<i class="fa fa-plus "  aria-hidden="true"></i>增加
							</button>
							<button type="button" class="btn btn-success" onclick="editDict()" id="editDict">
								<i class="fa fa-edit "  aria-hidden="true"></i>修改
							</button>
							<button type="button" class="btn btn-success" onclick="delDict()" id="delDict">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="ibox-content">
							<div id="dicttype">
							</div>
						</div>
					</div>
		</div>
		<div class="col-sm-9">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:dict:add" type="button"
								class="btn  btn-success" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:dict:edit" type="button" class="btn  btn-success" onclick="edit()">
								<i class="fa fa-edit" aria-hidden="true"></i>编辑
							</button>
							<button shiro:hasPermission="system:dict:batchDel"
								type="button" class="btn  btn-success" onclick="batchDel()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control" placeholder="关键字">
						</div>
					</div>
					<table id="bTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div>
	</div>

	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/system/dict/dict.js"></script>
</body>
</html>