<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="dcid" name="dcid" th:value="${dictContent.dcid}"  type="hidden">
                        <input id="did" name="did" th:value="${dictContent.did}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文本内容：</label>
                            <div class="col-sm-4">
                                <input id="dcvalue" name="dcvalue" th:value="${dictContent.dcvalue}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">编码：</label>
                            <div class="col-sm-4">
                                <input id="dccode" name="dccode" th:value="${dictContent.dccode}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序：</label>
                            <div class="col-sm-4">
                                <input id="orderno" name="orderno" th:value="${dictContent.orderno}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">是否有效：</label>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input th:field="*{dictContent.dcvalid}" type="radio" name="dcvalid" value="1" /> 正常
                                </label>
                                <label class="radio-inline">
                                    <input th:field="*{dictContent.dcvalid}" type="radio" name="dcvalid" value="0" /> 禁用
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">说明描述：</label>
                            <div class="col-sm-10">
                                <textarea id="remark" name="remark" class="form-control" th:text="${dictContent.remark}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/dict/edit.js">
</script>
</body>
</html>
