<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
                            <input id="loadUrl" name="loadUrl" type="hidden">
                            <input id="combineAppId" name="combineAppId" type="hidden">
                            <input id="combineTime" name="combineTime" type="hidden">
                            <input id="iconUrl" name="iconUrl" type="hidden">
                            <input id="codeQrA" name="codeQrA" type="hidden">
                            <input id="codeQrB" name="codeQrB" type="hidden">
                            <input id="codeQrC" name="codeQrC" type="hidden">
                            <input id="createTime" name="createTime" type="hidden">
                            <input id="modifyTime" name="modifyTime" type="hidden">
		                    <div class="form-group">
								<label class="col-sm-2 control-label">显示名称:</label>
								<div class="col-sm-4">
									<input id="appName" name="appName" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">APP-KEY:</label>
								<div class="col-sm-4">
									<input id="appKey" name="appKey" class="form-control" type="text">
								</div>
							</div>
		                    <div class="form-group">
								<label class="col-sm-2 control-label">项目名称:</label>
								<div class="col-sm-4">
									<input id="bundleName" name="bundleName" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">包名ID:</label>
								<div class="col-sm-4">
									<input id="bundleId" name="bundleId" class="form-control" type="text">
								</div>
							</div>
		                    <div class="form-group">
								<label class="col-sm-2 control-label">短链接:</label>
								<div class="col-sm-4">
									<input id="shortUrl" name="shortUrl" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">过期时间:</label>
								<div class="col-sm-4">
									<input type="text" class="laydate-icon layer-date form-control" id="expirerTime" name="expirerTime"  placeholder="过期时间"
										   onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color: #fff;" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">app类型:</label>
								<div class="col-sm-4">
									<label th:each="appType:${ appTypeCode}" class="radio-inline">
										<input name="appType" type="radio" th:value="${ appType.dccode}" th:text="${ appType.dcvalue}"
									</label>
								</div>
								<label class="col-sm-2 control-label">是否合并:</label>
								<div class="col-sm-4">
									<label th:each="isCombine:${ appCombineCode}" class="radio-inline">
										<input name="isCombine" type="radio" th:value="${ isCombine.dccode}" th:text="${ isCombine.dcvalue}"
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">APP介绍:</label>
								<div class="col-sm-10">
									<textarea id="description" name="description" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/app/add.js">
	</script>
</body>
</html>
