<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<input id="permissionId" name="permissionId" th:value="${permissionInit.permissionId}"  type="hidden"/>
                       <input id="createTime" name="createTime"  th:value="${permissionInit.createTime}"  type="hidden"/>
                       <input id="modifyTime" name="modifyTime"  th:value="${permissionInit.modifyTime}"  type="hidden"/>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">链接地址:</label>
								<div class="col-sm-4">
                                    <span th:text="${permissionInit.permissionUrl}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">需要具备的权限:</label>
								<div class="col-sm-4">
                                    <span th:text="${permissionInit.permissionInit}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">排序:</label>
								<div class="col-sm-4">
                                    <span th:text="${permissionInit.permissionSort}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">备注:</label>
								<div class="col-sm-4">
                                    <span th:text="${permissionInit.remark}"></span>
								</div>
							</div>
					</div>
				</div>
			</div>
	     </div>
	</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/permissioninit/view.js">
</script>
</body>
</html>
