var preUrl = "/${pathName}/${classnametolower}"
$(function() {
	validateRule();
#foreach($column in $columns)
#if($column.displayType == "006")
            laydate({
                elem : '#$column.attrname'
            });
#end
#end
});

$.validator.setDefaults({
	submitHandler : function() {
		save();
	}
});
function save() {
	$.ajax({
		cache : true,
		type : "POST",
		url : preUrl+"/save",
		data : $('#signupForm').serialize(),// 你的formid
		async : false,
		error : function(request) {
			parent.layer.alert("服务异常，请稍后再试");
		},
		success : function(data) {
			if (data.code == 0) {
				parent.layer.msg("操作成功");
				parent.reLoad();
				var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
				parent.layer.close(index);

			} else {
				parent.layer.alert(data.msg)
			}

		}
	});

}
function validateRule() {
	var icon = "<i class='fa fa-times-circle'></i> ";
	$("#signupForm").validate({
		rules : {
#foreach ($column in $columns)
#if($column.displayType != "010")
    $column.attrname :{required : true}
#end
#if($velocityCount != $columns.size()),
#end
#end
		},
		messages : {
#foreach ($column in $columns)
#if($column.displayType != "010")
        $column.attrname :{required : icon + "请输入$column.comments"}
#end
#if($velocityCount != $columns.size()),
#end
#end
		}
	})
}