<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${classnametolower}.dao.${className}Dao">

	<select id="get" resultType="${package}.${classnametolower}.domain.${className}DO">
		select #foreach($column in $columns)`$column.columnName`#if($velocityCount != $columns.size()),#end#end from ${tableName} where ${pk.columnName} = #{value}
	</select>

	<select id="list" resultType="${package}.${classnametolower}.domain.${className}DO">
		select #foreach($column in $columns)`$column.columnName`#if($velocityCount != $columns.size()),#end#end from ${tableName}
        <where>  
#foreach($column in $columns)
		  <if test="$column.attrname != null and $column.attrname.trim() != ''"> and $column.columnName = #{$column.attrname} </if>
#end
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ${pk.columnName} desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ${tableName}
		 <where>  
#foreach($column in $columns)
		  <if test="$column.attrname != null and $column.attrname.trim() != ''"> and $column.columnName = #{$column.attrname} </if>
#end
		</where>
	</select>
	 
	<insert id="save" parameterType="${package}.${classnametolower}.domain.${className}DO"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="${pk.columnName}"#end>
#if(${pk.extra} != 'auto_increment')
        <selectKey keyProperty="$pk.attrname" resultType="string" order="BEFORE">
        select replace(uuid(), '-', '') as $pk.attrname from dual
		</selectKey
#end
        insert into ${tableName}
		(
#if(${pk.extra} != 'auto_increment')
		    `$pk.columnName`,
#end
#foreach($column in $columns)
			`$column.columnName`#if($velocityCount != $columns.size()), #end
#end
		values
		(
#if(${pk.extra} != 'auto_increment')
           {$pk.attrname},
#end
#foreach($column in $columns)
		   {$column.attrname}#if($velocityCount != $columns.size()), #end
#end
		)
	</insert>
	 
	<update id="update" parameterType="${package}.${classnametolower}.domain.${className}DO">
		update ${tableName} 
		<set>
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<if test="$column.attrname != null">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
#end
#end
		</set>
		where ${pk.columnName} = #{${pk.attrname}}
	</update>
	
	<delete id="del">
		delete from ${tableName} where ${pk.columnName} = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from ${tableName} where ${pk.columnName} in 
		<foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
			#{${pk.attrname}}
		</foreach>
	</delete>

</mapper>