
--主键ID
set @RESOURCE_ID = replace(uuid(), '-', '');

-- 资源菜单SQL
INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(@RESOURCE_ID,'100000','${comments}','${pathName}','${pathName}:${classname}:list',1,'fa fa-file-code-o',0,6,now(),now());


-- 资源菜单对应按钮SQL
INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(replace(uuid(), '-', ''),@RESOURCE_ID,'查看','${pathName}/view','${pathName}:${classname}:info',1,'fa fa-file-code-o',0,1,now(),now());

INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(replace(uuid(), '-', ''),@RESOURCE_ID,'新增','${pathName}/add','${pathName}:${classname}:add',1,'fa fa-file-code-o',0,2,now(),now());

INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(replace(uuid(), '-', ''),@RESOURCE_ID,'新增','${pathName}/edit','${pathName}:${classname}:edit',1,'fa fa-file-code-o',0,3,now(),now());

INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(replace(uuid(), '-', ''),@RESOURCE_ID,'删除',NULL,'${pathName}:${classname}:del',1,'fa fa-file-code-o',0,4,now(),now());

INSERT INTO `sys_resource` (
 `RESOURCE_ID`,`PARENT_ID`,`RESOURCE_NAME`,`RESOURCE_URL`,`RESOURCE_PERMISSION`,`RESOURCE_TYPE`,`RESOURCE_ICON`,`DESK_DISPLAY`,`ORDER_NUM` ,`CREATE_TIME`,`MODIFY_TIME`)
VALUES(replace(uuid(), '-', ''),@RESOURCE_ID,'批量删除',NULL,'${pathName}:${classname}:batchDel',1,'fa fa-file-code-o',0,5,now(),now());
