<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<input id="${pk.attrname}" name="${pk.attrname}" th:value="${${classname}.${pk.attrname}}"  type="hidden">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">${column.comments}:</label>
								<div class="col-sm-9">
                                    <span th:text="${${classname}.${column.attrname}}"></span>
								</div>
							</div>
#end
#end
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/${pathName}/${classnametolower}/view.js">
	</script>
</body>
</html>
