<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<label class="col-sm-2 control-label">项目名称：</label>
							<div class="col-sm-4">
								<input id="projectName" name="projectName" class="form-control"
									   type="text" th:value="${property.projectName}">
							</div>
							<label class="col-sm-2 control-label">作者姓名：</label>
							<div class="col-sm-4">
								<input id="author" name="author" class="form-control"
									type="text" th:value="${property.author}">
							</div>
						</div>
						<div class="form-group">
						<label class="col-sm-2 control-label">作者邮箱：</label>
						<div class="col-sm-4">
							<input id="email" name="email" class="form-control" type="text"
								   th:value="${property.email}" >
						</div>
							<label class="col-sm-2 control-label">作者电话：</label>
							<div class="col-sm-4">
								<input id="phone" name="phone" class="form-control" type="text"
									   th:value="${property.phone}" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">项目包名：</label>
							<div class="col-sm-4">
								<input id="package" name="package" class="form-control"
									type="text" th:value="${property.package}">
							</div>
							<label class="col-sm-2 control-label">项目版本号：</label>
							<div class="col-sm-4">
								<input id="versionCode" name="versionCode" class="form-control"
									   type="text" th:value="${property.versionCode}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">自动去掉表前缀：</label>
							<div class="col-sm-4  i-checks icheckbox_square-green checked">
								<input id="autoRemovePre" name="autoRemovePre"
									class="form-control" type="checkbox"
									value="true"
									th:checked="${property.autoRemovePre}">
							</div>
							<label class="col-sm-2 control-label">去掉指定表前缀：</label>
							<div class="col-sm-4">
								<input id="tablePrefix" name="tablePrefix" class="form-control"
									type="text" th:value="${property.tablePrefix}">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-success"><i class="fa fa-ok" aria-hidden="true"></i>保存</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/generator/edit.js">
	</script>
</body>
</html>
