<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <input id="tablename" name="tablename" th:value="${tablename}" type="hidden">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button  type="button" class="btn  btn-success" onclick="code()">
                            <i class="fa fa-retweet" aria-hidden="true"></i>生成
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"  placeholder="字段名称">
                    </div>
                </div>
                <table id="bTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/generator/settingcode.js"></script>
</body>
</html>