<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content form-group">
						<input id="operationLogId" name="operationLogId" th:value="${operationLog.operationLogId}"  type="hidden">
						<input id="userId" name="userId" th:value="${operationLog.userId}"  type="hidden">
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">用户名：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.userName}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">用户操作：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.operation}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">响应时间：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.time}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">请求方法：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.method}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">请求参数：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.params}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">IP地址：</label>
								<div class="col-sm-8">
                                    <span th:text="${operationLog.ip}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<span th:text="${#dates.format(operationLog.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/operationlog/view.js">
	</script>
</body>
</html>
