<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="appVersionId" name="appVersionId" th:value="${appVersion.appVersionId}"  type="hidden">
       					<input id="appId" name="appId" th:value="${appVersion.appId}" type="hidden">
						<div class="form-group">
							<label class="col-sm-2 control-label">版本号:</label>
							<div class="col-sm-4">
								<input id="versionCode" name="versionCode" th:value="${appVersion.versionCode}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">构建号:</label>
							<div class="col-sm-4">
								<input id="buildCode" name="buildCode" th:value="${appVersion.buildCode}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">APP大小:</label>
							<div class="col-sm-4">
								<input id="appSizes" name="appSizes" th:value="${appVersion.appSizes}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">总有下载次数:</label>
							<div class="col-sm-4">
								<input id="totalLoadNumber" name="totalLoadNumber" th:value="${appVersion.totalLoadNumber}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">显示状态:</label>
							<div class="col-sm-4">
								<label th:each="displayState:${displayCode}" class="radio-inline">
									<input name="displayState" th:field="*{appVersion.displayState}" type="radio" th:value="${displayState.dccode}" th:text="${displayState.dcvalue}"
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">今天下载次数:</label>
							<div class="col-sm-4">
								<input id="todayLoadNumber" name="todayLoadNumber" th:value="${appVersion.todayLoadNumber}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">版本描述:</label>
							<div class="col-sm-10">
								<textarea id="versionDescription" name="versionDescription" th:text="${appVersion.versionDescription}" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">更新描述:</label>
							<div class="col-sm-10">
								<textarea id="updateDescription" name="updateDescription" th:text="${appVersion.updateDescription}" class="form-control"></textarea>
							</div>
						</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>w保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/appmanage/appversion/edit.js">
	</script>
</body>
</html>
