<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.dept.dao.DeptDao">

	<select id="get" resultType="com.justdo.system.dept.domain.DeptDO">
		select `DEPTID`,`ORGANID`,`DEPTPID`,`DEPTNAME`,`ORDERNUM`,`DELFLAG`,`ISVALIDATION`,`DEPTCODE`,`REMARK`,`DEPTMAN`,`DEPTMANID`,`CREATE_TIME`,`MODIFY_TIME` from SYS_DEPARTMENT where DEPTID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.dept.domain.DeptDO">
		select `DEPTID`,`ORGANID`,`DEPTPID`,`DEPTNAME`,`ORDERNUM`,`DELFLAG`,`ISVALIDATION`,`DEPTCODE`,`REMARK`,`DEPTMAN`,`DEPTMANID`,`CREATE_TIME`,`MODIFY_TIME` from SYS_DEPARTMENT
		<where>
			<if test="deptid != null and deptid != ''"> and DEPTID = #{deptid} </if>
			<if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
			<if test="deptpid != null and deptpid != ''"> and DEPTPID = #{deptpid} </if>
			<if test="deptname != null and deptname != ''"> and DEPTNAME like concat('%',#{deptname},'%')</if>
			<if test="ordernum != null and ordernum != ''"> and ORDERNUM = #{ordernum} </if>
			<if test="delflag != null and delflag != ''"> and DELFLAG = #{delflag} </if>
			<if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
			<if test="deptcode != null and deptcode != ''"> and DEPTCODE = #{deptcode} </if>
			<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
			<if test="deptman != null and deptman != ''"> and DEPTMAN = #{deptman} </if>
			<if test="deptmanid != null and deptmanid != ''"> and DEPTMANID = #{deptmanid} </if>
			<if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by DEPTID desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from SYS_DEPARTMENT
		<where>
			<if test="deptid != null and deptid != ''"> and DEPTID = #{deptid} </if>
			<if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
			<if test="deptpid != null and deptpid != ''"> and DEPTPID = #{deptpid} </if>
			<if test="deptname != null and deptname != ''"> and DEPTNAME = #{deptname} </if>
			<if test="ordernum != null and ordernum != ''"> and ORDERNUM = #{ordernum} </if>
			<if test="delflag != null and delflag != ''"> and DELFLAG = #{delflag} </if>
			<if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
			<if test="deptcode != null and deptcode != ''"> and DEPTCODE = #{deptcode} </if>
			<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
			<if test="deptman != null and deptman != ''"> and DEPTMAN = #{deptman} </if>
			<if test="deptmanid != null and deptmanid != ''"> and DEPTMANID = #{deptmanid} </if>
			<if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.justdo.system.dept.domain.DeptDO">
		<selectKey keyProperty="deptid" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as deptid from dual
		</selectKey>
		insert into SYS_DEPARTMENT
		(
		`DEPTID`,
		`ORGANID`,
		`DEPTPID`,
		`DEPTNAME`,
		`ORDERNUM`,
		`DELFLAG`,
		`ISVALIDATION`,
		`DEPTCODE`,
		`REMARK`,
		`DEPTMAN`,
		`DEPTMANID`,
		`CREATE_TIME`,
		`MODIFY_TIME`
		)
		values
		(
		#{deptid},
		#{organid},
		#{deptpid},
		#{deptname},
		#{ordernum},
		#{delflag},
		#{isvalidation},
		#{deptcode},
		#{remark},
		#{deptman},
		#{deptmanid},
		#{createTime},
		#{modifyTime}
		)
	</insert>

	<update id="update" parameterType="com.justdo.system.dept.domain.DeptDO">
		update SYS_DEPARTMENT
		<set>
			<if test="organid != null">`ORGANID` = #{organid}, </if>
			<if test="deptpid != null">`DEPTPID` = #{deptpid}, </if>
			<if test="deptname != null">`DEPTNAME` = #{deptname}, </if>
			<if test="ordernum != null">`ORDERNUM` = #{ordernum}, </if>
			<if test="delflag != null">`DELFLAG` = #{delflag}, </if>
			<if test="isvalidation != null">`ISVALIDATION` = #{isvalidation},</if>
			<if test="deptcode != null">  `DEPTCODE` = #{deptcode}, </if>
			<if test="remark != null ">  `REMARK` = #{remark} ,</if>
			<if test="deptman != null ">  `DEPTMAN` = #{deptman}, </if>
			<if test="deptmanid != null">  `DEPTMANID` = #{deptmanid}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifyTime != null">`MODIFY_TIME` = #{modifyTime}</if>
		</set>
		where DEPTID = #{deptid}
	</update>

	<delete id="del">
		delete from SYS_DEPARTMENT where DEPTID = #{value}
	</delete>

	<delete id="batchDel">
		delete from SYS_DEPARTMENT where DEPTID in
		<foreach item="deptid" collection="array" open="(" separator="," close=")">
			#{deptid}
		</foreach>
	</delete>

	<select id="listParentDept" resultType="String">
		select DISTINCT deptpid from SYS_DEPARTMENT
	</select>

	<select id="getAllDepts" resultType="com.justdo.system.dept.domain.DeptVO" parameterType="map" >
		select deptid,deptname,deptpid,organid from SYS_DEPARTMENT

		<where>
			<if test="deptpid != null and deptpid != ''">and isvalidation = 1 and deptpid = #{deptpid} </if>

			<if test="deptpid == null or deptpid == ''">and isvalidation = 1 and deptpid = '' </if>

			<if test="organid != null and organid != ''"> and organid = #{organid} </if>
		</where>
	</select>


	<select id="getTopDepts" resultType="com.justdo.common.domain.TreeNode" parameterType="map" >
		select deptid as id,deptname as text,organid as parentid  from SYS_DEPARTMENT

		<where>
			<if test="deptpid == null or deptpid == ''">and isvalidation = 1 and deptpid = '' </if>

			<if test="organid != null and organid != ''"> and organid = #{organid} </if>
		</where>
	</select>

	<select id="getDepts" resultType="com.justdo.common.domain.TreeNode" parameterType="map" >
		select deptid as id,deptname as text,deptpid as parentid from SYS_DEPARTMENT

		<where>
			<if test="deptpid != null and deptpid != ''">and isvalidation = 1 and deptpid = #{deptpid} </if>

			<if test="organid != null and organid != ''"> and organid = #{organid} </if>
		</where>
	</select>
</mapper>