<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.dict.dao.DictContentDao">

	<select id="get" resultType="com.justdo.system.dict.domain.DictContentDO">
		select `DCID`,`DID`,`DCVALUE`,`DCCODE`,`REMARK`,`ORDERNO`,`DCVALID`,`CREATE_TIME`,`MODIFY_TIME` from SYS_DICTIONARY_CONTENT where DCID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.dict.domain.DictContentDO">
		select `DCID`,`DID`,`DCVALUE`,`DCCODE`,`REMARK`,`ORDERNO`,`DCVALID`,`CREATE_TIME`,`MODIFY_TIME` from SYS_DICTIONARY_CONTENT
               <where>
		  		  <if test="dcid != null and dcid != ''"> and DCID != #{dcid} </if>
		  		  <if test="did != null and did != ''"> and DID = #{did} </if>
		  		  <if test="dcvalue != null and dcvalue != ''"> and DCVALUE like concat('%',#{dcvalue},'%') </if>
		  		  <if test="dccode != null and dccode != ''"> and DCCODE = #{dccode} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		  <if test="orderno != null and orderno != ''"> and ORDERNO = #{orderno} </if>
		  		  <if test="dcvalid != null and dcvalid != ''"> and DCVALID = #{dcvalid} </if>
				   <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
				   <if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by DCID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from SYS_DICTIONARY_CONTENT
		 <where>  
		  		  <if test="dcid != null and dcid != ''"> and DCID = #{dcid} </if>
		  		  <if test="did != null and did != ''"> and DID = #{did} </if>
		  		  <if test="dcvalue != null and dcvalue != ''"> and DCVALUE = #{dcvalue} </if>
		  		  <if test="dccode != null and dccode != ''"> and DCCODE = #{dccode} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		  <if test="orderno != null and orderno != ''"> and ORDERNO = #{orderno} </if>
		  		  <if test="dcvalid != null and dcvalid != ''"> and DCVALID = #{dcvalid} </if>
			 <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
			 <if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.system.dict.domain.DictContentDO">
		<selectKey keyProperty="dcid" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as dcid from dual
		</selectKey>
		insert into SYS_DICTIONARY_CONTENT
		(
			`DCID`, 
			`DID`, 
			`DCVALUE`, 
			`DCCODE`, 
			`REMARK`, 
			`ORDERNO`, 
			`DCVALID`,
		    `CREATE_TIME`,
		    `MODIFY_TIME`
		)
		values
		(
			#{dcid}, 
			#{did}, 
			#{dcvalue}, 
			#{dccode}, 
			#{remark}, 
			#{orderno}, 
			#{dcvalid},
			#{createTime},
			#{modifyTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.system.dict.domain.DictContentDO">
		update SYS_DICTIONARY_CONTENT
		<set>
			<if test="did != null">`DID` = #{did}, </if>
			<if test="dcvalue != null">`DCVALUE` = #{dcvalue}, </if>
			<if test="dccode != null">`DCCODE` = #{dccode}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="orderno != null">`ORDERNO` = #{orderno}, </if>
			<if test="dcvalid != null">`DCVALID` = #{dcvalid},</if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifyTime != null">`MODIFY_TIME` = #{modifyTime} </if>
		</set>
		where DCID = #{dcid}
	</update>
	
	<delete id="del">
		delete from SYS_DICTIONARY_CONTENT where DCID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from SYS_DICTIONARY_CONTENT where DCID in
		<foreach item="dcid" collection="array" open="(" separator="," close=")">
			#{dcid}
		</foreach>
	</delete>


	<select id="listDictByCode" resultType="com.justdo.system.dict.domain.DictContentDO">
		select `DCID`,`DID`,`DCVALUE` ,`DCCODE` from SYS_DICTIONARY_CONTENT
	    where DCVALID = 1 and  DID in (select `DID` from SYS_DICTIONARY_TYPE  where DCODE = #{value})
		order by ORDERNO asc

	</select>


</mapper>