<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.errorlog.dao.ErrorLogDao">

	<select id="get" resultType="com.justdo.system.errorlog.domain.ErrorLogDO">
		select `ERRORLOG_ID`,`USER_ID`,`USER_NAME`,`EXCEPTION_CONTENT`,`EXCEPTION_STATE`,`REMARK`,`IP`,`SOLVE_MAN`,`SOLVE_TIME`,`CREATE_TIME` from sys_error_log where ERRORLOG_ID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.errorlog.domain.ErrorLogDO">
		select `ERRORLOG_ID`,`USER_ID`,`USER_NAME`,`EXCEPTION_CONTENT`,`EXCEPTION_STATE`,`REMARK`,`IP`,`SOLVE_MAN`,`SOLVE_TIME`,`CREATE_TIME` from sys_error_log
        <where>  
		  <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
		  <if test="userName != null and userName != ''"> and USER_NAME like concat('%',#{userName},'%') </if>
		  <if test="exceptionContent != null and exceptionContent != ''"> and EXCEPTION_CONTENT = #{exceptionContent} </if>
		  <if test="exceptionState != null and exceptionState != ''"> and EXCEPTION_STATE = #{exceptionState} </if>
		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  <if test="ip != null and ip != ''"> and IP = #{ip} </if>
		  <if test="solveMan != null and solveMan != ''"> and SOLVE_MAN = #{solveMan} </if>
		  <if test="solveTime != null and solveTime != ''"> and SOLVE_TIME = #{solveTime} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ERRORLOG_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_error_log
		 <where>  
		  <if test="userId != null and userId != ''"> and USER_ID = #{userId} </if>
		  <if test="userName != null and userName != ''"> and USER_NAME = #{userName} </if>
		  <if test="exceptionContent != null and exceptionContent != ''"> and EXCEPTION_CONTENT = #{exceptionContent} </if>
		  <if test="exceptionState != null and exceptionState != ''"> and EXCEPTION_STATE = #{exceptionState} </if>
		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  <if test="ip != null and ip != ''"> and IP = #{ip} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.system.errorlog.domain.ErrorLogDO">
        <selectKey keyProperty="errorlogId" resultType="string" order="BEFORE">
        select replace(uuid(), '-', '') as errorlogId from dual
		</selectKey>
		insert into sys_error_log
		(
			`ERRORLOG_ID`,
			`USER_ID`,
			`USER_NAME`,
			`EXCEPTION_CONTENT`,
			`EXCEPTION_STATE`,
			`REMARK`,
			`IP`,
			`CREATE_TIME`
		)
		values
		(
			#{errorlogId},
			#{userId},
			#{userName},
			#{exceptionContent},
			#{exceptionState},
			#{remark},
			#{ip},
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.system.errorlog.domain.ErrorLogDO">
		update sys_error_log 
		<set>
			<if test="userId != null">`USER_ID` = #{userId}, </if>
			<if test="userName != null">`USER_NAME` = #{userName}, </if>
			<if test="exceptionContent != null">`EXCEPTION_CONTENT` = #{exceptionContent}, </if>
			<if test="exceptionState != null">`EXCEPTION_STATE` = #{exceptionState}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="ip != null">`IP` = #{ip}, </if>
			<if test="solveMan != null">  `SOLVE_MAN` = #{solveMan} ,</if>
			<if test="solveTime != null">  `SOLVE_TIME` = #{solveTime} ,</if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}</if>
		</set>
		where ERRORLOG_ID = #{errorlogId}
	</update>
	
	<delete id="del">
		delete from sys_error_log where ERRORLOG_ID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from sys_error_log where ERRORLOG_ID in 
		<foreach item="errorlogId" collection="array" open="(" separator="," close=")">
			#{errorlogId}
		</foreach>
	</delete>

</mapper>