<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.notice.dao.NoticeRecordDao">

	<select id="get" resultType="com.justdo.system.notice.domain.NoticeRecordDO">
		select
		`id`,`notice_id`,`user_id`,`is_read`,`read_date` from SYS_NOTICE_RECORD
		where id = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.notice.domain.NoticeRecordDO">
		select `id`,`notice_id`,`user_id`,`is_read`,`read_date` from
		SYS_NOTICE_RECORD
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="noticeId != null and noticeId != ''"> and notice_id = #{noticeId} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="isRead != null and isRead != ''"> and is_read = #{isRead} </if>
			<if test="readDate != null and readDate != ''"> and read_date = #{readDate} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by #{sort} #{order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from SYS_NOTICE_RECORD
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="noticeId != null and noticeId != ''"> and notice_id = #{noticeId} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="isRead != null and isRead != ''"> and is_read = #{isRead} </if>
			<if test="readDate != null and readDate != ''"> and read_date = #{readDate} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.justdo.system.notice.domain.NoticeRecordDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into SYS_NOTICE_RECORD
		(
		`notice_id`,
		`user_id`,
		`is_read`,
		`read_date`
		)
		values
		(
		#{noticeId},
		#{userId},
		#{isRead},
		#{readDate}
		)
	</insert>

	<update id="update" parameterType="com.justdo.system.notice.domain.NoticeRecordDO">
		update SYS_NOTICE_RECORD
		<set>
			<if test="noticeId != null">`notice_id` = #{noticeId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="isRead != null">`is_read` = #{isRead}, </if>
			<if test="readDate != null">`read_date` = #{readDate}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from SYS_NOTICE_RECORD where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from SYS_NOTICE_RECORD where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>


	<insert id="batchSave" parameterType="com.justdo.system.notice.domain.NoticeRecordDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into SYS_NOTICE_RECORD
		(
		`notice_id`,
		`user_id`,
		`is_read`,
		`read_date`
		)
		values
		<foreach item="item" index="index" collection="list"
			separator=",">
			(
			#{item.noticeId},
			#{item.userId},
			#{item.isRead},
			#{item.readDate}
			)
		</foreach>
	</insert>

	<select id="listNoticeIds" resultType="String">
		select distinct notice_id from SYS_NOTICE_RECORD
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="noticeId != null and noticeId != ''"> and notice_id = #{noticeId} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="isRead != null and isRead != ''"> and is_read = #{isRead} </if>
			<if test="readDate != null and readDate != ''"> and read_date = #{readDate} </if>
		</where>
	</select>

	<delete id="delByNotifbyId">
		delete from SYS_NOTICE_RECORD where notice_id =
		#{value}
	</delete>

	<delete id="batchDelByNotifbyId">
		delete from SYS_NOTICE_RECORD where notice_id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<update id="changeRead" parameterType="com.justdo.system.notice.domain.NoticeRecordDO">
		update SYS_NOTICE_RECORD
		<set>
			<if test="isRead != null">`is_read` = #{isRead}, </if>
			<if test="readDate != null">`read_date` = #{readDate}</if>
		</set>
		where notice_id = #{noticeId} and user_id = #{userId}
	</update>



</mapper>
