<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.organ.dao.OrganDao">

	<select id="get" resultType="com.justdo.system.organ.domain.OrganDO">
		select `ORGANID`,`ORGANPID`,`ORGANNAME`,`AREAID`,`ORGANCODE`,`ORGANALIAS`,`POSTCODE`,`ADDRESS`,`TELEPHONE`,`FAX`,`ISVALIDATION`,`ORGANMAN`,`ORGANMANID`,`REMARK` from sys_organ where ORGANID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.organ.domain.OrganDO">
		select `ORGANID`,`ORGANPID`,`ORGANNAME`,`AREAID`,`ORGANCODE`,`ORGANALIAS`,`POSTCODE`,`ADDRESS`,`TELEPHONE`,`FAX`,`ISVALIDATION`,`ORGANMAN`,`ORGANMANID`,`REMARK` from sys_organ
        <where>  
		  		  <if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
		  		  <if test="organpid != null and organpid != ''"> and ORGANPID = #{organpid} </if>
		  		  <if test="organname != null and organname != ''"> and ORGANNAME = #{organname} </if>
		  		  <if test="areaid != null and areaid != ''"> and AREAID = #{areaid} </if>
		  		  <if test="organcode != null and organcode != ''"> and ORGANCODE = #{organcode} </if>
		  		  <if test="organalias != null and organalias != ''"> and ORGANALIAS = #{organalias} </if>
		  		  <if test="postcode != null and postcode != ''"> and POSTCODE = #{postcode} </if>
		  		  <if test="address != null and address != ''"> and ADDRESS = #{address} </if>
		  		  <if test="telephone != null and telephone != ''"> and TELEPHONE = #{telephone} </if>
		  		  <if test="fax != null and fax != ''"> and FAX = #{fax} </if>
		  		  <if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
		  		  <if test="organman != null and organman != ''"> and ORGANMAN = #{organman} </if>
		  		  <if test="organmanid != null and organmanid != ''"> and ORGANMANID = #{organmanid} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ORGANID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_organ
		 <where>  
		  		  <if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
		  		  <if test="organpid != null and organpid != ''"> and ORGANPID = #{organpid} </if>
		  		  <if test="organname != null and organname != ''"> and ORGANNAME = #{organname} </if>
		  		  <if test="areaid != null and areaid != ''"> and AREAID = #{areaid} </if>
		  		  <if test="organcode != null and organcode != ''"> and ORGANCODE = #{organcode} </if>
		  		  <if test="organalias != null and organalias != ''"> and ORGANALIAS = #{organalias} </if>
		  		  <if test="postcode != null and postcode != ''"> and POSTCODE = #{postcode} </if>
		  		  <if test="address != null and address != ''"> and ADDRESS = #{address} </if>
		  		  <if test="telephone != null and telephone != ''"> and TELEPHONE = #{telephone} </if>
		  		  <if test="fax != null and fax != ''"> and FAX = #{fax} </if>
		  		  <if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
		  		  <if test="organman != null and organman != ''"> and ORGANMAN = #{organman} </if>
		  		  <if test="organmanid != null and organmanid != ''"> and ORGANMANID = #{organmanid} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.system.organ.domain.OrganDO">
		<selectKey keyProperty="organid" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as organid from dual
		</selectKey>
		insert into sys_organ
		(
			`ORGANID`, 
			`ORGANPID`, 
			`ORGANNAME`, 
			`AREAID`, 
			`ORGANCODE`, 
			`ORGANALIAS`, 
			`POSTCODE`, 
			`ADDRESS`, 
			`TELEPHONE`, 
			`FAX`, 
			`ISVALIDATION`, 
			`ORGANMAN`, 
			`ORGANMANID`, 
			`REMARK`
		)
		values
		(
			#{organid}, 
			#{organpid}, 
			#{organname}, 
			#{areaid}, 
			#{organcode}, 
			#{organalias}, 
			#{postcode}, 
			#{address}, 
			#{telephone}, 
			#{fax}, 
			#{isvalidation}, 
			#{organman}, 
			#{organmanid}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.system.organ.domain.OrganDO">
		update sys_organ 
		<set>
			<if test="organname != null">`ORGANNAME` = #{organname}, </if>
			<if test="areaid != null">`AREAID` = #{areaid}, </if>
			<if test="organcode != null">`ORGANCODE` = #{organcode}, </if>
			<if test="organalias != null">`ORGANALIAS` = #{organalias}, </if>
			<if test="postcode != null">`POSTCODE` = #{postcode}, </if>
			<if test="address != null">`ADDRESS` = #{address}, </if>
			<if test="telephone != null">`TELEPHONE` = #{telephone}, </if>
			<if test="fax != null">`FAX` = #{fax}, </if>
			<if test="isvalidation != null">`ISVALIDATION` = #{isvalidation}, </if>
			<if test="organman != null">`ORGANMAN` = #{organman}, </if>
			<if test="organmanid != null">`ORGANMANID` = #{organmanid}, </if>
			<if test="remark != null">`REMARK` = #{remark}</if>
		</set>
		where ORGANID = #{organid}
	</update>
	
	<delete id="del">
		delete from sys_organ where ORGANID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from sys_organ where ORGANID in 
		<foreach item="organid" collection="array" open="(" separator="," close=")">
			#{organid}
		</foreach>
	</delete>

	<select id="listParentOrgan" resultType="String">
		select DISTINCT organpid from sys_organ
	</select>
</mapper>