<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.position.dao.PositionDao">

	<select id="get" resultType="com.justdo.system.position.domain.PositionDO">
		select  `POSTID`, `POSTPID`,`DEPTID`,`ORGANID`,`CREATE_TIME`,`MODIFYTIME`,`POSTNAME`,`POSTCODE`,`ISVALIDATION`,`REMARK` from sys_position where POSTID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.position.domain.PositionDO">
		select  `POSTID`, `POSTPID`,`DEPTID`,`ORGANID`,`CREATE_TIME`,`MODIFYTIME`,`POSTNAME`,`POSTCODE`,`ISVALIDATION`,`REMARK` from sys_position
        <where>
			<if test="postid != null and postid != ''"> and POSTID != #{postid} </if>
		  <if test="postpid != null and postpid != ''"> and POSTPID = #{postpid} </if>
		  <if test="deptid != null and deptid != ''"> and DEPTID = #{deptid} </if>
		  <if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  <if test="modifytime != null and modifytime != ''"> and MODIFYTIME = #{modifytime} </if>
		  <if test="postname != null and postname != ''"> and POSTNAME = #{postname} </if>
		  <if test="postcode != null and postcode != ''"> and POSTCODE = #{postcode} </if>
		  <if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by POSTID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_position
		 <where>  
		  <if test="postpid != null and postpid != ''"> and POSTPID = #{postpid} </if>
		  <if test="deptid != null and deptid != ''"> and DEPTID = #{deptid} </if>
		  <if test="organid != null and organid != ''"> and ORGANID = #{organid} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  <if test="modifytime != null and modifytime != ''"> and MODIFYTIME = #{modifytime} </if>
		  <if test="postname != null and postname != ''"> and POSTNAME = #{postname} </if>
		  <if test="postcode != null and postcode != ''"> and POSTCODE = #{postcode} </if>
		  <if test="isvalidation != null and isvalidation != ''"> and ISVALIDATION = #{isvalidation} </if>
		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.system.position.domain.PositionDO">
        <selectKey keyProperty="postid" resultType="string" order="BEFORE">
        select replace(uuid(), '-', '') as postid from dual
		</selectKey>
        insert into sys_position
		(
		    `POSTID`,
            `POSTPID`,             `DEPTID`,             `ORGANID`,             `CREATE_TIME`,             `MODIFYTIME`,             `POSTNAME`,             `POSTCODE`,             `ISVALIDATION`,             `REMARK`        )
		values
		(
           #{postid},
           #{postpid},            #{deptid},            #{organid},            #{createTime},            #{modifytime},            #{postname},            #{postcode},            #{isvalidation},            #{remark}		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.system.position.domain.PositionDO">
		update sys_position 
		<set>
			<if test="postpid != null">`POSTPID` = #{postpid}, </if>
			<if test="deptid != null">`DEPTID` = #{deptid}, </if>
			<if test="organid != null">`ORGANID` = #{organid}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifytime != null">`MODIFYTIME` = #{modifytime}, </if>
			<if test="postname != null">`POSTNAME` = #{postname}, </if>
			<if test="postcode != null">`POSTCODE` = #{postcode}, </if>
			<if test="isvalidation != null">`ISVALIDATION` = #{isvalidation}, </if>
			<if test="remark != null">`REMARK` = #{remark}</if>
		</set>
		where POSTID = #{postid}
	</update>
	
	<delete id="del">
		delete from sys_position where POSTID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from sys_position where POSTID in 
		<foreach item="postids" collection="array" open="(" separator="," close=")">
			#{postids}
		</foreach>
	</delete>

</mapper>