<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.regexp.dao.RegexpDao">

	<select id="get" resultType="com.justdo.system.regexp.domain.RegexpDO">
		select `RID`,`RNAME`,`RCODE`,`RCONTENT`,`REMARK`,`RVALID` from sys_regexp where RID = #{value}
	</select>
	<select id="list" resultType="com.justdo.system.regexp.domain.RegexpDO">
		select RID,`RNAME`,`RCODE`,`RCONTENT`,`REMARK`,`RVALID` from SYS_REGEXP
		<where>
		<if test="rid != null and rid != ''"> and RID = #{rid} </if>
		<if test="rname != null and rname != ''"> and RNAME like concat('%',#{rname},'%') </if>
		<if test="rcode != null and rcode != ''"> and RCODE = #{rcode} </if>
		<if test="rcontent != null and rcontent != ''"> and RCONTENT = #{rcontent} </if>
		<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		<if test="rvalid != null and rvalid != ''"> and RVALID = #{rvalid} </if>
	    </where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by RID desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_regexp
		 <where>  
		  		  <if test="rid != null and rid != ''"> and RID = #{rid} </if>
		  		  <if test="rname != null and rname != ''"> and RNAME = #{rname} </if>
		  		  <if test="rcode != null and rcode != ''"> and RCODE = #{rcode} </if>
		  		  <if test="rcontent != null and rcontent != ''"> and RCONTENT = #{rcontent} </if>
		  		  <if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		  		  <if test="rvalid != null and rvalid != ''"> and RVALID = #{rvalid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.system.regexp.domain.RegexpDO">
		<selectKey keyProperty="rid" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as rid from dual
		</selectKey>
		insert into sys_regexp
		(
			`RID`, 
			`RNAME`, 
			`RCODE`, 
			`RCONTENT`, 
			`REMARK`,
			`RVALID`
		)
		values
		(
			#{rid}, 
			#{rname}, 
			#{rcode}, 
			#{rcontent}, 
			#{remark},
			#{rvalid}
		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.system.regexp.domain.RegexpDO">
		update sys_regexp 
		<set>
			<if test="rname != null">`RNAME` = #{rname}, </if>
			<if test="rcode != null">`RCODE` = #{rcode}, </if>
			<if test="rcontent != null">`RCONTENT` = #{rcontent}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="rvalid != null">`RVALID` = #{rvalid}</if>
		</set>
		where RID = #{rid}
	</update>
	
	<delete id="del">
		delete from sys_regexp where RID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from sys_regexp where RID in 
		<foreach item="rid" collection="array" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</delete>

</mapper>