<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.system.role.dao.RoleDao">

	<select id="get" resultType="com.justdo.system.role.domain.RoleDO">
		select  `ROLE_ID`,`ROLE_NAME`,`ROLE_SIGN`,`ROLE_STATE`,`REMARK`,`CREATE_EMPLOYEE_ID`,`CREATE_TIME`,`MODIFY_TIME` from sys_role where ROLE_ID = #{value}
	</select>

	<select id="list" resultType="com.justdo.system.role.domain.RoleDO">
		select  `ROLE_ID`,`ROLE_NAME`,`ROLE_SIGN`,`ROLE_STATE`,`REMARK`,`CREATE_EMPLOYEE_ID`,`CREATE_TIME`,`MODIFY_TIME` from sys_role
		<where>
			<if test="roleName != null and roleName != ''"> and ROLE_NAME = #{roleName} </if>
			<if test="roleSign != null and roleSign != ''"> and ROLE_SIGN = #{roleSign} </if>
			<if test="roleState != null and roleState != ''"> and ROLE_STATE = #{roleState} </if>
			<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
			<if test="createEmployeeId != null and createEmployeeId != ''"> and CREATE_EMPLOYEE_ID = #{createEmployeeId} </if>
			<if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by ROLE_ID desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from syss_role
		<where>
			<if test="roleName != null and roleName != ''"> and ROLE_NAME = #{roleName} </if>
			<if test="roleSign != null and roleSign != ''"> and ROLE_SIGN = #{roleSign} </if>
			<if test="roleState != null and roleState != ''"> and ROLE_STATE = #{roleState} </if>
			<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
			<if test="createEmployeeId != null and createEmployeeId != ''"> and CREATE_EMPLOYEE_ID = #{createEmployeeId} </if>
			<if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.justdo.system.role.domain.RoleDO">
		<selectKey keyProperty="roleId" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as roleId from dual
		</selectKey>
		insert into sys_role
		(
		`ROLE_ID`,
		`ROLE_NAME`,
		`ROLE_SIGN`,
		`ROLE_STATE`,
		`REMARK`,
		`CREATE_EMPLOYEE_ID`,
		`CREATE_TIME`,
		`MODIFY_TIME`
		)
		values
		(
		#{roleId},
		#{roleName},
		#{roleSign},
		#{roleState},
		#{remark},
		#{createEmployeeId},
		#{createTime},
		#{modifyTime}
		)
	</insert>

	<update id="update" parameterType="com.justdo.system.role.domain.RoleDO">
		update sys_role
		<set>
			<if test="roleName != null">`ROLE_NAME` = #{roleName}, </if>
			<if test="roleSign != null">`ROLE_SIGN` = #{roleSign}, </if>
			<if test="roleState != null">`ROLE_STATE` = #{roleState}, </if>
			<if test="remark != null">`REMARK` = #{remark}, </if>
			<if test="createEmployeeId != null">`CREATE_EMPLOYEE_ID` = #{createEmployeeId}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifyTime != null">`MODIFY_TIME` = #{modifyTime}</if>
		</set>
		where ROLE_ID = #{roleId}
	</update>

	<delete id="del">
		delete from sys_role where ROLE_ID = #{value}
	</delete>

	<delete id="batchDel">
		delete from sys_role where ROLE_ID in
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>

	<select id="getListByIds" resultType="com.justdo.system.role.domain.RoleDO">
	select  `ROLE_ID`,`ROLE_NAME`,`ROLE_SIGN`,`ROLE_STATE`,`REMARK`,`CREATE_EMPLOYEE_ID`,`CREATE_TIME`,`MODIFY_TIME`
	from sys_role  where ROLE_ID  in
		<foreach item="roleIds" collection="array" open="(" separator="," close=")">
			#{roleIds}
		</foreach>
	</select>

</mapper>