<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justdo.appmanage.app.dao.AppDao">

	<select id="get" resultType="com.justdo.appmanage.app.domain.AppDO">
		select  `APP_ID`, `LOAD_URL`,`COMBINE_APP_ID`,`COMBINE_TIME`,`ICON_URL`,`CODE_QR_A`,`CODE_QR_B`,`CODE_QR_C`,`CREATE_TIME`,`MODIFY_TIME`,`APP_NAME`,`APP_KEY`,`BUNDLE_NAME`,`BUNDLE_ID`,`SHORT_URL`,`EXPIRER_TIME`,`APP_TYPE`,`IS_COMBINE`,`DESCRIPTION` from d_app where APP_ID = #{value}
	</select>

	<select id="list" resultType="com.justdo.appmanage.app.domain.AppDO">
		select  `APP_ID`, `LOAD_URL`,`COMBINE_APP_ID`,`COMBINE_TIME`,`ICON_URL`,`CODE_QR_A`,`CODE_QR_B`,`CODE_QR_C`,`CREATE_TIME`,`MODIFY_TIME`,`APP_NAME`,`APP_KEY`,`BUNDLE_NAME`,`BUNDLE_ID`,`SHORT_URL`,`EXPIRER_TIME`,`APP_TYPE`,`IS_COMBINE`,`DESCRIPTION` from d_app
        <where>
			<if test="appId != null and appId != ''"> and APP_ID != #{appId} </if>
		  <if test="loadUrl != null and loadUrl != ''"> and LOAD_URL = #{loadUrl} </if>
		  <if test="combineAppId != null and combineAppId != ''"> and COMBINE_APP_ID = #{combineAppId} </if>
		  <if test="combineTime != null and combineTime != ''"> and COMBINE_TIME = #{combineTime} </if>
		  <if test="iconUrl != null and iconUrl != ''"> and ICON_URL = #{iconUrl} </if>
		  <if test="codeQrA != null and codeQrA != ''"> and CODE_QR_A = #{codeQrA} </if>
		  <if test="codeQrB != null and codeQrB != ''"> and CODE_QR_B = #{codeQrB} </if>
		  <if test="codeQrC != null and codeQrC != ''"> and CODE_QR_C = #{codeQrC} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  <if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		  <if test="appName != null and appName != ''"> and APP_NAME = #{appName} </if>
		  <if test="appKey != null and appKey != ''"> and APP_KEY = #{appKey} </if>
		  <if test="bundleName != null and bundleName != ''"> and BUNDLE_NAME = #{bundleName} </if>
		  <if test="bundleId != null and bundleId != ''"> and BUNDLE_ID = #{bundleId} </if>
		  <if test="shortUrl != null and shortUrl != ''"> and SHORT_URL = #{shortUrl} </if>
		  <if test="expirerTime != null and expirerTime != ''"> and EXPIRER_TIME = #{expirerTime} </if>
		  <if test="appType != null and appType != ''"> and APP_TYPE = #{appType} </if>
		  <if test="isCombine != null and isCombine != ''"> and IS_COMBINE = #{isCombine} </if>
		  <if test="description != null and description != ''"> and DESCRIPTION = #{description} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by APP_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from d_app
		 <where>  
		  <if test="loadUrl != null and loadUrl != ''"> and LOAD_URL = #{loadUrl} </if>
		  <if test="combineAppId != null and combineAppId != ''"> and COMBINE_APP_ID = #{combineAppId} </if>
		  <if test="combineTime != null and combineTime != ''"> and COMBINE_TIME = #{combineTime} </if>
		  <if test="iconUrl != null and iconUrl != ''"> and ICON_URL = #{iconUrl} </if>
		  <if test="codeQrA != null and codeQrA != ''"> and CODE_QR_A = #{codeQrA} </if>
		  <if test="codeQrB != null and codeQrB != ''"> and CODE_QR_B = #{codeQrB} </if>
		  <if test="codeQrC != null and codeQrC != ''"> and CODE_QR_C = #{codeQrC} </if>
		  <if test="createTime != null and createTime != ''"> and CREATE_TIME = #{createTime} </if>
		  <if test="modifyTime != null and modifyTime != ''"> and MODIFY_TIME = #{modifyTime} </if>
		  <if test="appName != null and appName != ''"> and APP_NAME = #{appName} </if>
		  <if test="appKey != null and appKey != ''"> and APP_KEY = #{appKey} </if>
		  <if test="bundleName != null and bundleName != ''"> and BUNDLE_NAME = #{bundleName} </if>
		  <if test="bundleId != null and bundleId != ''"> and BUNDLE_ID = #{bundleId} </if>
		  <if test="shortUrl != null and shortUrl != ''"> and SHORT_URL = #{shortUrl} </if>
		  <if test="expirerTime != null and expirerTime != ''"> and EXPIRER_TIME = #{expirerTime} </if>
		  <if test="appType != null and appType != ''"> and APP_TYPE = #{appType} </if>
		  <if test="isCombine != null and isCombine != ''"> and IS_COMBINE = #{isCombine} </if>
		  <if test="description != null and description != ''"> and DESCRIPTION = #{description} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.justdo.appmanage.app.domain.AppDO">
        <selectKey keyProperty="appId" resultType="string" order="BEFORE">
        select replace(uuid(), '-', '') as appId from dual
		</selectKey>
        insert into d_app
		(
		    `APP_ID`,
            `LOAD_URL`,
			`COMBINE_APP_ID`,
			`COMBINE_TIME`,
			`ICON_URL`,
			`CODE_QR_A`,
			`CODE_QR_B`,
			`CODE_QR_C`,
			`CREATE_TIME`,
			`MODIFY_TIME`,
			`APP_NAME`,
			`APP_KEY`,
			`BUNDLE_NAME`,
			`BUNDLE_ID`,
			`SHORT_URL`,
			`EXPIRER_TIME`,
			`APP_TYPE`,
			`IS_COMBINE`,
			`DESCRIPTION`
		)
		values
		(
           #{appId},
           #{loadUrl},
		#{combineAppId},
		#{combineTime},
		#{iconUrl},
		#{codeQrA},
		#{codeQrB},
		#{codeQrC},
		#{createTime},
		#{modifyTime},
		#{appName},
		#{appKey},
		#{bundleName},
		#{bundleId},
		#{shortUrl},
		#{expirerTime},
		#{appType},
		#{isCombine},
		#{description}
		)
	</insert>
	 
	<update id="update" parameterType="com.justdo.appmanage.app.domain.AppDO">
		update d_app 
		<set>
			<if test="loadUrl != null">`LOAD_URL` = #{loadUrl}, </if>
			<if test="combineAppId != null">`COMBINE_APP_ID` = #{combineAppId}, </if>
			<if test="combineTime != null and combineTime != ''" >`COMBINE_TIME` = #{combineTime}, </if>
			<if test="iconUrl != null">`ICON_URL` = #{iconUrl}, </if>
			<if test="codeQrA != null">`CODE_QR_A` = #{codeQrA}, </if>
			<if test="codeQrB != null">`CODE_QR_B` = #{codeQrB}, </if>
			<if test="codeQrC != null">`CODE_QR_C` = #{codeQrC}, </if>
			<if test="createTime != null ">`CREATE_TIME` = #{createTime}, </if>
			<if test="modifyTime != null and modifyTime != ''">`MODIFY_TIME` = #{modifyTime}, </if>
			<if test="appName != null">`APP_NAME` = #{appName}, </if>
			<if test="appKey != null">`APP_KEY` = #{appKey}, </if>
			<if test="bundleName != null">`BUNDLE_NAME` = #{bundleName}, </if>
			<if test="bundleId != null">`BUNDLE_ID` = #{bundleId}, </if>
			<if test="shortUrl != null">`SHORT_URL` = #{shortUrl}, </if>
			<if test="expirerTime != null">`EXPIRER_TIME` = #{expirerTime}, </if>
			<if test="appType != null">`APP_TYPE` = #{appType}, </if>
			<if test="isCombine != null">`IS_COMBINE` = #{isCombine}, </if>
			<if test="description != null">`DESCRIPTION` = #{description}</if>
		</set>
		where APP_ID = #{appId}
	</update>
	
	<delete id="del">
		delete from d_app where APP_ID = #{value}
	</delete>
	
	<delete id="batchDel">
		delete from d_app where APP_ID in 
		<foreach item="appIds" collection="array" open="(" separator="," close=")">
			#{appIds}
		</foreach>
	</delete>

</mapper>