<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<input id="articleId" name="articleId" th:value="${article.articleId}"  type="hidden"/>
                       <input id="createEmployeeId" name="createEmployeeId"  th:value="${article.createEmployeeId}"  type="hidden"/>
                       <input id="modifyEmployeeId" name="modifyEmployeeId"  th:value="${article.modifyEmployeeId}"  type="hidden"/>
                       <input id="articleHits" name="articleHits"  th:value="${article.articleHits}"  type="hidden"/>
                       <input id="commentsNum" name="commentsNum"  th:value="${article.commentsNum}"  type="hidden"/>
                       <input id="delFlag" name="delFlag"  th:value="${article.delFlag}"  type="hidden"/>
                       <input id="articleStatus" name="articleStatus"  th:value="${article.articleStatus}"  type="hidden"/>
                       <input id="createTime" name="createTime"  th:value="${article.createTime}"  type="hidden"/>
                       <input id="modifyTime" name="modifyTime"  th:value="${article.modifyTime}"  type="hidden"/>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">标题:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.articleTitle}"></span>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="col-sm-2 control-label">内容:</label>
								<div class="col-sm-10">
										<span th:text="${article.articleContent}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">类型:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.articleType}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">标签:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.articleTags}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">分类:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.articleCategories}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">开启评论:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.allowComment}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">允许反馈:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.allowFeed}"></span>
								</div>
							</div>
	                        <div class="col-sm-6">
								<label class="col-sm-2 control-label">作者:</label>
								<div class="col-sm-4">
                                    <span th:text="${article.articleAuthor}"></span>
								</div>
							</div>
					</div>
				</div>
			</div>
	     </div>
	</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/article/view.js">
</script>
</body>
</html>
