package ${package}.${classname}.action;

import java.io.OutputStream;
import java.util.ArrayList;
import java.util.Enumeration;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import org.apache.poi.hssf.usermodel.HSSFCell;
import org.apache.poi.hssf.usermodel.HSSFCellStyle;
import org.apache.poi.hssf.usermodel.HSSFFont;
import org.apache.poi.hssf.usermodel.HSSFRow;
import org.apache.poi.hssf.usermodel.HSSFSheet;
import org.apache.poi.hssf.usermodel.HSSFWorkbook;
import org.apache.poi.hssf.util.Region;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.servlet.ModelAndView;

import com.sxsihe.oxhide.controller.BaseShowAction;
import com.sxsihe.oxhide.exception.BaseException;
import com.sxsihe.oxhide.service.BaseServiceIface;
import ${package}.${classname}.domain.${className};
import ${package}.${classname}.service.${className}Service;
import com.sxsihe.utils.common.CollectionUtils;
import com.sxsihe.utils.common.MapUtils;
import com.sxsihe.utils.common.StringUtils;
import com.sxsihe.utils.json.JsonUtil;

/**
 * ${comments}
 * Description：
 * @author: ${author}
 * @email: ${email}
 * @date: ${datetime}
 * Modification History:  
 * Modified by :  
 */
@Controller
@RequestMapping("/${classname}ShowAction")
public class ${className}ShowAction extends BaseShowAction {

	public ${className}ShowAction(){
		this.setFormName("${classname}Form");
		this.setShowAdd("/pages/${classname}/${classname}form.jsp?action=add");
		this.setShowUpdate("/pages/${classname}/${classname}form.jsp?action=update");
		this.setShowView("/pages/${classname}/${classname}view.jsp");
	}
	
	private ${className}Service ${classname}Service;
	
	
	@Override
	@Resource(name = "${classname}Service")
	public void setService(BaseServiceIface service) {
		// TODO Auto-generated method stub
		${classname}Service=(${className}Service) service;
		super.setService(service);
	}
    @Override
    protected void nextShowAdd(ModelAndView mapping, HttpServletRequest request, HttpServletResponse response) {
		${className} vForm =(${className})mapping.getModel().get(this.getFormName());
        vForm.set${pk.attrName}(StringUtils.getUUID());
    }
   }
