<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%request.setCharacterEncoding("utf-8");%>

<%@ taglib uri="/WEB-INF/tld/sihe.tld" prefix="sihe"%>
<%@ taglib uri="/WEB-INF/tld/c.tld" prefix="c"%>
<%@ taglib uri="/WEB-INF/tld/spring.tld" prefix="html"%>
<html>
#literal()
<c:set var="request" scope="page" value="${pageContext.request}" />
<c:set var="base" scope="page" value="${request.scheme}://${request.serverName}:${request.serverPort}" />
<c:set var="contextPath" scope="page" value="${request.contextPath}" />
<c:set var="basePath" scope="page" value="${base}${contextPath}/" />
#end
<head>
	<sihe:headerResource title="问卷答案信息" />
</head>
<body>
	<sihe:table 
		var="item" 
		title="${comments}" 
		sqlCode="select_${classname}" 
		withSql="true" 
		action="true">
		<sihe:tableNavigate 
			search="true" 
			showAdd="${basePath}/${classname}ShowAction.do?action=showAdd" 
			showUpdate="${basePath}/${classname}ShowAction.do?action=showUpdate" 
			showView="${basePath}/${classname}ShowAction.do?action=showView" 
			showBatchDelete="true" 
			service="${classname}Service"
			addDisplay="true"
			edit="true"
			viewDisplay="true"
			delete="false"
			formWidth="700" 
			formHeight="260" 
			viewHeight="200" 
			viewWidth="550" 
			pageTitle="${classname}">
		</sihe:tableNavigate>
		<sihe:row id="${pk.attrname}">
			#foreach ($column in $columns)
			<sihe:column property="${column.attrname}" align="left" width="20%" title="${column.comments}" >
				<sihe:columnSearch sopt="eq,like" defaultOp="like" />
			</sihe:column>
		    #end
		</sihe:row>
</body>
</html>