<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ page language="java" contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%request.setCharacterEncoding("utf-8");%>

<%@ taglib uri="/WEB-INF/tld/sihe.tld" prefix="sihe"%>
<%@ taglib uri="/WEB-INF/tld/c.tld" prefix="c"%>
<%@ taglib uri="/WEB-INF/tld/spring.tld" prefix="html"%>
<html>
#literal()
<c:set var="request" scope="page" value="${pageContext.request}" />
<c:set var="base" scope="page" value="${request.scheme}://${request.serverName}:${request.serverPort}" />
<c:set var="contextPath" scope="page" value="${request.contextPath}" />
<c:set var="basePath" scope="page" value="${base}${contextPath}/" />
#end
<head>
	<sihe:headerResource title="${comments}" />
</head>
<body>
	<sihe:tableNormal formMode="true" >	
		#foreach ($column in $columns)
	       <tr>
				<td width="30%">
					$column.comments：
				</td>
				<td>				
				    ${ view.${column.attrname}}
				</td>
			</tr>
		#end
	</sihe:tableNormal>
</body>
</html>
