<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="system:errorLog:add" type="button" class="btn  btn-success" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
							<button shiro:hasPermission="system:errorLog:edit" type="button" class="btn  btn-success" onclick="edit()">
                                <i class="fa fa-edit" aria-hidden="true"></i>编辑
                            </button>
							<button shiro:hasPermission="system:errorLog:batchDel" type="button" class="btn  btn-success" onclick="batchDel()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
					</div>
					<table id="bTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/errorlog/errorlog.js"></script>
</body>
</html>