<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content form-group">
						<input id="errorlogId" name="errorlogId" th:value="${errorLog.errorlogId}"  type="hidden">
						<input id="userId" name="userId" th:value="${errorLog.userId}"  type="hidden">
	                        <div class="col-sm-12">
								<label class="col-sm-2 control-label">用户名：</label>
								<div class="col-sm-4">
                                    <span th:text="${errorLog.userName}"></span>
								</div>
								<label class="col-sm-2 control-label">异常状态：</label>
								<div class="col-sm-4">
									<span th:if="${errorLog.exceptionState}=='0'" th:text="未解决">未解决</span>
									<span th:if="${errorLog.exceptionState}=='1'" th:text="已解决">已解决</span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-2 control-label">异常信息：</label>
								<div class="col-sm-9">
                                    <span th:text="${errorLog.exceptionContent}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-2 control-label">备注信息：</label>
								<div class="col-sm-9">
                                    <span th:text="${errorLog.remark}"></span>
								</div>
							</div>
							<div class="col-sm-12" th:if="${errorLog.exceptionState}=='1'">
								<label class="col-sm-2 control-label">解决人员：</label>
								<div class="col-sm-4">
									<span th:text="${errorLog.solveMan}"></span>
								</div>
								<label class="col-sm-2 control-label">解决时间：</label>
								<div class="col-sm-4">
									<span th:text="${errorLog.solveTime}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-2 control-label">IP地址：</label>
								<div class="col-sm-4">
                                    <span th:text="${errorLog.ip}"></span>
								</div>
								<label class="col-sm-2 control-label">创建时间：</label>
								<div class="col-sm-4">
                                    <span th:text="${errorLog.createTime}"></span>
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/errorlog/view.js">
	</script>
</body>
</html>
