<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<input id="errorlogId" name="errorlogId" th:value="${errorLog.errorlogId}"  type="hidden">
	                        <div class="form-group">
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.userId}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">用户名：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.userName}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">异常信息：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.exceptionContent}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">异常状态：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.exceptionState}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">备注信息：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.remark}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">IP地址：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.ip}"></span>
								</div>
							</div>
	                        <div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
                                    <span th:text="${errorLog.createTime}"></span>
								</div>
							</div>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/errorlog/view.js">
	</script>
</body>
</html>
