<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="organid" name="organid" th:value="${organ.organid}"  type="hidden">
							<input id="organpid" name="organpid" th:value="${organ.organpid}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-2 control-label">机构名称：</label>
								<div class="col-sm-4">
									<input id="organname" name="organname" th:value="${organ.organname}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">上级机构：</label>
								<div class="col-sm-4">
									<input id="organpid" name="organpid" type="hidden" th:value="${organ.organpid}">
									<input id="organpname" name="organpname" class="form-control" type="text" th:value="${organ.organpname}"
										   style="cursor: pointer;" onclick="openOrgan()"
										   readonly="readonly" placeholder="请选择上级机构">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">机构别名：</label>
								<div class="col-sm-4">
									<input id="organalias" name="organalias" th:value="${organ.organalias}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">机构编码：</label>
								<div class="col-sm-4">
									<input id="organcode" name="organcode" th:value="${organ.organcode}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">地区编号：</label>
								<div class="col-sm-4">
									<input id="areaid" name="areaid" th:value="${organ.areaid}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">邮政邮编：</label>
								<div class="col-sm-4">
									<input id="postcode" name="postcode" th:value="${organ.postcode}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">机构地址：</label>
								<div class="col-sm-4">
									<input id="address" name="address" th:value="${organ.address}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">机构电话：</label>
								<div class="col-sm-4">
									<input id="telephone" name="telephone" th:value="${organ.telephone}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">传真号码：</label>
								<div class="col-sm-4">
									<input id="fax" name="fax" th:value="${organ.fax}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">是否有效：</label>
								<div class="col-sm-4">
										<label class="radio-inline">
											<input th:field="*{organ.isvalidation}" type="radio" name="isvalidation" value="1" /> 正常
										</label>
										<label class="radio-inline">
										     <input th:field="*{organ.isvalidation}" type="radio" name="isvalidation" value="0" /> 禁用
									   </label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">负责人姓名：</label>
								<div class="col-sm-4">
									<input id="organman" name="organman" th:value="${organ.organman}" class="form-control" type="text">
								</div>
							<input id="organmanid" name="organmanid" th:value="${organ.organmanid}"  type="hidden">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-4">

								</div>
							</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">备注信息：</label>
									<div class="col-sm-10">
										<textarea id="remark" name="remark" class="form-control" th:text="${organ.remark}"></textarea>
									</div>
								</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/organ/edit.js">
	</script>
</body>
</html>
