<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="col-sm-9">
                                <select data-placeholder="--选择类别--" name="noticeType" id="noticeType"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="" selected="selected">--选择类别--</option>
                                    <option th:each="noticeType:${noticeTypes}" th:value="${noticeType.dccode}" th:text="${noticeType.dcvalue}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题：</label>
                            <div class="col-sm-9">
                                <input id="noticeTitle" name="noticeTitle" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="col-sm-9">
                                <textarea id="noticeContent" name="noticeContent" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">附件：</label>
                            <div class="col-sm-9">
                                <input id="noticeFiles" name="noticeFiles" class="form-control" type="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">接收人：</label>
                            <div class="col-sm-9">
                                <input id="employeeIds" name="employeeIds" class="hidden">
                                <input id="employeeNames" name="employeeNames" class="form-control"
                                        type="text" onclick="openEmployee()"
                                        readonly="readonly" placeholder="接收人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">立即发布：</label>
                            <div class="switch  col-sm-1">
                                <div class="onoffswitch">
                                    <input id="noticeStatus" name="noticeStatus"  type="checkbox"
                                           value="1" class="onoffswitch-checkbox">
                                    <label class="onoffswitch-label" for="noticeStatus">
                                        <span class="onoffswitch-inner"></span>
                                        <span  class="onoffswitch-switch"></span>
                                   </label>
                                </div>
                            </div>
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-3">
                                <input id="orderNum" name="orderNum" class="form-control" type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息：</label>
                            <div class="col-sm-9">
                                <textarea id="remark" name="remark" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/notice/add.js">

</script>
</body>
</html>
