<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content " id="app">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="noticeId" name="noticeId" th:value="${notice.noticeId}" type="hidden">
							<!--<input id="noticeType" name="noticeType" th:value="${notice.noticeType}" type="hidden">-->
							<div class="form-group">
								<label class="col-sm-3 control-label">类型：</label>
								<div class="col-sm-9">
									<select data-placeholder="--选择类别--" name="noticeType" id="noticeType" th:value="${notice.noticeType}"
										class="form-control chosen-select" tabindex="2">
										<option value="">-- 选择类别 --</option>
										<option th:each="noticeType : ${noticeTypes}" th:value="${noticeType.dccode}" th:text="${noticeType.dcvalue}" th:selected="${noticeType.dccode}==${notice.noticeType}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">标题：</label>
								<div class="col-sm-9">
									<input id="noticeTitle" name="noticeTitle" th:value="${notice.noticeTitle}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">内容：</label>
								<div class="col-sm-9">
									<textarea id="noticeContent" name="noticeContent"
										th:text="${notice.noticeContent}" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">附件：</label>
								<div class="col-sm-9">
									<input id="noticeFiles" name="noticeFiles" th:value="${notice.noticeFiles}"
										class="form-control" type="file">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">接收人：</label>
								<div class="col-sm-9">
									<input id="employeeIds" name="employeeIds" class="hidden">
									<input id="employeeNames" name="employeeNames" class="form-control"
										   type="text" onclick="openEmployee()"
										   readonly="readonly" placeholder="接收人">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">已经发布：</label>
								<div class="switch  col-sm-1">
									<div class="onoffswitch">
										<input id="noticeStatus" name="noticeStatus" type="checkbox" th:checked="${notice.noticeStatus}==1"
											th:value="${notice.noticeStatus}" class="onoffswitch-checkbox"> <label
											class="onoffswitch-label" for="noticeStatus"> <span
											class="onoffswitch-inner"></span> <span
											class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-3">
									<input id="orderNum" name="orderNum" th:value="${notice.orderNum}" class="form-control" type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">备注信息：</label>
								<div class="col-sm-9">
									<textarea id="remark" name="remark" class="form-control" th:text="${notice.remark}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success"><i class="fa fa-ok" aria-hidden="true"></i>保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/notice/edit.js">
		
	</script>
</body>
</html>
