<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="deptId" name="deptId" th:value="${dept.deptid}"	class="hidden">
							<div class="form-group">
								<label class="col-sm-2 control-label">机构名称：</label>
								<div class="col-sm-4">
									<input id="organid" name="organid" type="hidden" th:value="${dept.organid}">
									<input id="organname" name="organname" class="form-control" type="text"
										   style="cursor: pointer;" onclick="openOrgan()" th:value="${dept.organname}"
										   readonly="readonly" placeholder="请选择机构">
								</div>
								<label class="col-sm-2 control-label">上级部门：</label>
								<div class="col-sm-4">
									<input id="deptpid" name="deptpid" type="hidden" th:value="${dept.deptpid}">
									<input id="deptpname" name="deptpname" class="form-control" type="text"
										   style="cursor: pointer;" onclick="openDept()"  th:value="${dept.deptpname}"
										   readonly="readonly" placeholder="请选择部门">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">部门名称：</label>
								<div class="col-sm-4">
									<input id="deptname" name="deptname" class="form-control" type="text" th:value="${dept.deptname}">
								</div>

								<label class="col-sm-2 control-label">部门别名：</label>
								<div class="col-sm-4">
									<input id="deptcode" name="deptcode" class="form-control" type="text" th:value="${dept.deptcode}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">负责人：</label>
								<div class="col-sm-4">
									<input id="deptman" name="deptman" class="form-control" type="text" th:value="${dept.deptman}" >
								</div>

								<label class="col-sm-2 control-label">排序：</label>
								<div class="col-sm-4">
									<input id="ordernum" name="ordernum" class="form-control" type="text" th:value="${dept.ordernum}" >
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">状态：</label>
								<div class="col-sm-10">
									<label class="radio-inline">
										<input th:field="*{dept.isvalidation}" type="radio" name="isvalidation" value="1" /> 正常
									</label>
									<label class="radio-inline">
										<input th:field="*{dept.isvalidation}" type="radio" name="isvalidation" value="0" /> 禁用
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-10">
									<textarea id="remark" name="remark" class="form-control" th:value="${dept.remark}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/dept/edit.js">
	</script>
</body>
</html>
