package ${package}.${classname}.domain;

import java.sql.Blob;
import java.util.HashSet;
import java.util.Set;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import com.sxsihe.base.BaseBean;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.Id;
import javax.persistence.Table;

import org.hibernate.annotations.GenericGenerator;

/**
 * ${comments}
 * Description：
 * @author: ${author}
 * @email: ${email}
 * @date: ${datetime}
 * Modification History:  
 * Modified by :  
 */
@Table(name = "${classname}")
@Entity
public class ${className} extends BaseBean {
#if(${pk.extra}=="auto_increment")
   @Id
   @GeneratedValue(strategy = GenerationType.IDENTITY)   
#else
	@Id
	@GeneratedValue(generator="system-uuid")
	@GenericGenerator(name="system-uuid",strategy="uuid")
#end
  //$pk.comments
    @Column(name="${pk.columnName}")
    private $pk.attrType $pk.attrname;

#foreach ($column in $columns)
	//$column.comments
	@Column(name="${column.columnName}")
	private $column.attrType $column.attrname;
#end
	/**
	 * 构造方法
	 */
	public ${className}(${constructorParams}) {
			super();
#foreach ($column in $columns)
			this.${column.attrname}= $column.attrname;
#end
    /**
     * 设置：${pk.comments}
     */
    public void set${pk.attrName}($pk.attrType $pk.attrname) {
        this.$pk.attrname = $pk.attrname;
    }
    /**
     * 获取：${pk.comments}
     */
    public $pk.attrType get${pk.attrName}() {
        return $pk.attrname;
    }

#foreach ($column in $columns)
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end

}