<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="parentId" name="parentId" th:value="${parentId}" type="hidden">
							<div class="form-group">
								<label class="col-sm-2 control-label">上级菜单：</label>
								<div class="col-sm-4">
									<input id="pName" name="pName"  type="text" class="form-control" th:value="${pName}" readonly="readonly">
								</div>
								<label class="col-sm-2 control-label">菜单名称：</label>
								<div class="col-sm-4">
									<input id="resourceName" name="resourceName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">菜单类型：</label>
								<div class="col-sm-4">
									<label class="radio-inline">
										<input type="radio" name="resourceType" value="0" checked="checked"/> 目录
									</label>
									<label class="radio-inline">
										<input type="radio" name="resourceType" value="1" /> 菜单
									</label>
									<label class="radio-inline">
										<input type="radio"  name="resourceType" value="2" /> 按钮
									</label>
								</div>
								<label class="col-sm-2 control-label">桌面显示：</label>
								<div class="col-sm-4">
									<label class="radio-inline">
										<input type="radio" name="deskDisplay" value="0" checked="checked" /> 否</label>
									<label class="radio-inline">
										<input type="radio"  name="deskDisplay" value="1" /> 是</label>
								</div>
							</div>
		                    <div class="form-group">
								<label class="col-sm-2 control-label">菜单URL：</label>
								<div class="col-sm-4">
									<input id="resourceUrl" name="resourceUrl" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">授权：</label>
								<div class="col-sm-4">
									<input id="resourcePermission" name="resourcePermission" class="form-control" type="text">
								</div>
							</div>
		                    <div class="form-group">
								<label class="col-sm-2 control-label">排序：</label>
								<div class="col-sm-4">
									<input id="orderNum" name="orderNum" class="form-control" type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
								</div>
								<label class="col-sm-2 control-label">菜单图标：</label>
								<div class="col-sm-4">
									<input id="resourceIcon" name="resourceIcon" class="form-control" type="text" placeholder="例如：fa fa-circle-o">
									<input id="ico-btn" class="btn btn-success" type="button" value="选择图标">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/resource/add.js">
	</script>
</body>
</html>
