<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
                            <input id="postpid" name="postpid" type="hidden">
                            <input id="deptid" name="deptid" type="hidden">
                            <input id="organid" name="organid" type="hidden">
                            <input id="createTime" name="createTime" type="hidden">
                            <input id="modifytime" name="modifytime" type="hidden">
		                    <div class="form-group">
								<label class="col-sm-2 control-label">岗位名称:</label>
								<div class="col-sm-4">
									<input id="postname" name="postname" class="form-control" type="text">
								</div>
							</div>
		                    <div class="form-group">
								<label class="col-sm-2 control-label">岗位编号:</label>
								<div class="col-sm-4">
									<input id="postcode" name="postcode" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">是否有效:</label>
								<div class="col-sm-4">
									<label th:each="isvalidation:${ validCode}" class="radio-inline">
										<input name="isvalidation" type="radio" th:value="${ isvalidation.dccode}" th:text="${ isvalidation.dcvalue}"
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">备注:</label>
								<div class="col-sm-10">
									<textarea id="remark" name="remark" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/position/add.js">
	</script>
</body>
</html>
