<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div class="animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<input id="postid" name="postid" th:value="${position.postid}"  type="hidden">
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">上级岗位ID:</label>
								<div class="col-sm-9">
                                    <span th:text="${position.postpid}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">部门ID:</label>
								<div class="col-sm-9">
                                    <span th:text="${position.deptid}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">机构ID:</label>
								<div class="col-sm-9">
                                    <span th:text="${position.organid}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">创建时间:</label>
								<div class="col-sm-9">
                                    <span th:text="${position.createTime}"></span>
								</div>
							</div>
	                        <div class="col-sm-12">
								<label class="col-sm-3 control-label">修改时间:</label>
								<div class="col-sm-9">
                                    <span th:text="${position.modifytime}"></span>
								</div>
							</div>
                       <input id="postname" name="postname" type="hidden">
                       <input id="postcode" name="postcode" type="hidden">
                       <input id="isvalidation" name="isvalidation" type="hidden">
                       <input id="remark" name="remark" type="hidden">
					</div>
				</div>
			</div>
	     </div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/position/view.js">
	</script>
</body>
</html>
